*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
    background-color: #ccd5ae;
    color: #023047;
}

/*Estilo para todos los parrafos (etiqueta p)*/
p { 
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Estilo para la clase "mi-clase" esto va dentro de la etiqueta en el atributo class="mi-clase"*/
.mi-clase{
      color: #669bbc;
      display: inline;
 
}
/* Estilo para la clase id "mi-id" esto va dentro de la etiqueta en el atributo id="mi-id"*/
#mi-id{
    font-size: large;
}

.start {
     color: #669bbc;
}

/*Estilo para los enlaces dentro de la clase "mi-clase" combinacion */
.mi-clase a{
     font-style: oblique;
     text-align: center;
      color: #780000;
}
img {
    width: 200px;
    
}
button{
    width: 100px;
    height: 40px;
    font-size: large;
    background-color: #bc4749;
}
button:hover{
    background-color: #003049;
    color: white;
}

/*Ejemplo de box model*/
#box-model-demo{
    margin-top: 40px;
    padding: 20px;
    /*border-top: 2px solid #ccc;*/
}
.box-demo{
    width: 200px;
    height: 100px;
    padding: 20px; /*espacio interno*/
    border: 5px solid #333; /*borde*/
    margin: 15px; /*espacio externo*/
    background-color: #283618;
    color:#e85d04;
}
.box-sizing-demo{
    margin-top: 40px;
}
.box-cb,
.box-bb{
    padding: 20px;
    margin-bottom: 16px;
    border: 5px solid #333;
    background-color: #588157 ;
    color: #4a5759;
}
.box-cb{
    width: 200px;
    box-sizing: content-box;
}
.box-bb{
    width: 200px;
    box-sizing: border-box;
    background-color: #c9ada7;
}
h1{
    color: #669bbc;
}
.mi-clase h1{
    color:#9a8c98;
}
li{
    color:#588157 !important;
}
.mi-clase li{
    color:#bc4749;
}
#mi-id{
    color: #124559;
}
/* ===== Ejemplos de display ===== */
#ejemplos-display{
    margin-top: 40px;
    padding: 20px;
    border-top: 2px solid #ccd5ae;
}
/* Estilo base para todas las cajas demo*/
.caja{
    background-color: #354f52;
    border: 1px solid #52796f;
    padding: 8px;
    margin: 6px 0;
    text-align: center;
    font-weight: bold;
}
/* BLOQUES: uno debajo de otro, ocupan todo el ancho*/
.caja-block{
    display:block;
    width: 100px;
    position: fixed;
    top: 0px;
    left: 20px;
}
/*INLINE: se comportan como texto, no respetan width/height*/
.caja-inline{
    display: inline;
    /* width/height no tiene efecto en inline, eso lo hace demostrativo*/
    margin: 0 4px;
    padding: 2px 6px;
    background-color: #a8dadc;
}
/*CONTENEDOR para ver mejor los inline-block*/
.contenedor-inline-block{
    border: 1px dashed #283618;
    padding: 10px;
}